.book {
  &__box {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 0 70px 0;
    // .img {
    //   // display: flex;
    //   // justify-content: center;
    //   // align-items: flex-end;
    // }
  }
}

img {
  width: 100%;
  background: #c41a1a;
  object-fit: cover;
}

.descr {
  width: 90%;
  padding: 20px;
  background: var(--main-color);
  margin: 0 auto;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--light-color);
}
.author {
  font-size: 18px;
  font-weight: 700;
}

.inf {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.name {
  font-size: 32px;
}

.genre {
  font-size: 12px;
}

.man {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid rgba(75, 75, 75, 0.397);
  border-radius: 25px;
  padding: 6px 10px;
  min-width: 100%;
  // width: 100%;
  &__inf {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .ovner {
      font-size: 12px;
      color: #00000096;
    }
  }
  &__name {
    font-size: 18px;
    color: #000;
    font-weight: 600;
  }
}

.inline {
  display: inline-block;
}

.img {
  &_bg {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: #000;
    height: 100%;
    aspect-ratio: 6/7;
  }
  &_main {
    aspect-ratio: 4/5;
    height: 70%;
    background: red;
  }
}

.count__text {
  border-left: 2px solid var(--dark-color);
  padding: 5px 0 5px 15px;
  font-weight: 600;
}

.avatar {
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  color: var(--light-color);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  background: rgb(0, 140, 255);
}

.main_descr {
  font-size: 16px;
  line-height: 150%;
}

//---------------------------------
