.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  & .label {
    font-size: 14px;
  }

  & input {
    width: 100%;
    padding: 10px ;
    border-radius: 10px;
    background: #ffffff7e;
    border: 1px solid #353535;
    transition: all 0.3s;
    &:focus {
      border-color: var(--main-color);
    }
  }
}
