.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: none;
  background: #161616;
  border-top: 1px solid #ffffff7c;
  &__container {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid #ffffff00;
  padding: 8px;
  p {
    font-size: 10px;
  }
  &_active {
    border-radius: 8px;

    border-color: #e08d1f5e;
    transition: all 0.4s;
    p {
      color: var(--main-color);
    }
    path {
      fill: var(--main-color);
    }
  }
}

@media (max-width: 730px) {
  .footer {
    display: block;
  }
}
