.book {
  max-width: 400px;
  margin: 0 auto;
  &__box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    margin-top: 40px;
  }
  &__add {
    width: 100%;
    aspect-ratio: 5/3;
    background: #00000085;
    border-radius: 20px;
    border: 2px solid #ffffff50;
  }
  &__active {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.button{
  width: 100%;
  font-size: 16px;
}

.sercle {
  height: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid #ffffff50;
  background: #7070705e;

  cursor: pointer;

  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 4px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
  }
  &::before {
    content: "";
    position: absolute;
    border-radius: 10px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 4px;
    background: rgb(255, 255, 255);
  }
}
