.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: show 0.5s;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 30px;
  button {
    width: 100%;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
