.books {
  max-width: 400px;
  margin: 0 auto;
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 400px;
    margin: 0 auto;
    gap: 15px;
  }
}
.line{
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.09);

  margin-top: 30px;
  margin-bottom: 10px;
}

.title{
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: var( --text-light-color);
}

.sub_title{
  font-size: 12px;
  color: var( --text-light-color);
  margin-top: 15px;
}

.genre{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  &__item {
    padding: 7px 14px;
    border-radius: 10px;
    background: var(--second-bg-color);
    color: var(--text-light-color);
    font-size: 14px;
  }
  &_active{
    background: var(--main-color);
  }
}