.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .header {
    padding: 10px;
    background: #0e0e0ee8;
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 20px;
    align-items: center;
    .user {
      display: grid;
      grid-template-columns: 40px 1fr;
      gap: 10px;
    }
    .avatart {
      aspect-ratio: 1;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgb(0, 68, 255);
      font-size: 18px;
      font-weight: 600;
    }
    .arrow {
      width: 100%;
      aspect-ratio: 1;
      border-radius: 50%;
      transition: all 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      svg {
        width: 100%;
        height: 100%;
      }
      &:hover {
        background: #313131;
      }
    }
  }

  .messages {
    flex-grow: 1;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 60px;
    gap: 10px;
    padding: 10px;
    .send {
      // height: 100%;
      aspect-ratio: 1;
      background: var(--main-color);
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
      svg {
        width: 30px;
        height: 30px;
        fill: #000;
      }
    }
    &__input {
      border-radius: 8px;

      padding: 20px;
      background: #0e0e0ee8;
      // width: 100%;
      font-size: 16px;
    }
  }
}
