.card {
  display: flex;
  gap: 15px;
}

.img {
  width: 100%;
  aspect-ratio: 5/6;
  border-radius: 5px;

  background: #000;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.descr {
  width: 100%;
 
}

.name {
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
}

.author {
  color: #ffffff82;
  font-size: 12px;
}

.text{
  font-size: 16px;
  margin-top: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  color: #fff;
  font-size: 14px;
}

.button{
  padding: 8px;
  text-align: center;
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 15px;
  color: var(--main-color);
  cursor: pointer;
  margin-top: 20px;
}